@model MlVitrine.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_sku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_sku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_ean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_ean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.product_active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.product_active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSpec.ProductSpecId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCondition.ProductConditionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPrices[0].product_price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
